{% extends 'base.html' %}

{% block head %}
<title>Link Shortener by leonidussaks</title>
{% endblock %}

{% block  body %}
    <div class="box">
<h1>link shortener for everyone!</h1>
        {% if new_link %}
        <p>your link: <a href="/{{ new_link }}" target=”_blank”>{{ new_link }}</a></p>
        {% endif %}
<form action="link" method="post">
        <input type="text" size="" name="main_link" placeholder="enter link">

    <button name="submit" type="submit" value="Send">submit</button>
    </form>
        <script>

        </script>
    </div>
{% endblock %}